.html {
    margin: 5em;
}

.line-name {
    padding: 1em;
}

.no-disruptions {
    padding: 0.5em;
}

.disruption {
    padding: 0.5em;
}

.disruption-table {
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
}
